<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Thông tin cơ bản</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="Ten">Tên</label>
            <input type="text" class="form-control" id="clientKey" placeholder="" ng-model="loaihinhdaotao.saveObj.Ten">
          </div>
          <div class="form-group">
            <label for="TenHienThi">Tên Hiển Thị</label>
            <input type="text" class="form-control" id="TenHienThi" ng-model="loaihinhdaotao.saveObj.TenHienThi">
          </div>         
          <div class="form-group">
            <div class="icheck-primary">
              <input type="checkbox" id="IsActive" name="IsActive" ng-model="loaihinhdaotao.saveObj.IsActive"/>
              <label for="IsActive">Hoạt động</label>
            </div>
          </div>         
          
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Mô Tả</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <textarea class="form-control" id="MoTa" rows="3" ng-model="loaihinhdaotao.saveObj.MoTa"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
