<div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div role="form">
          <div class="box-body">
            <div class="form-group">
                <div class="form-group">
                    <label for="FullName">Họ và tên</label>
                    <input type="text" class="form-control" id="FullName" placeholder="" 
                        ng-model="header.saveObj.FullName">
                  </div>  
                  <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Email" placeholder="" 
                        ng-model="header.saveObj.Email">
                  </div>     
              <div class="form-group">
                <label for="PhoneNumber">Số điện thoại</label>
                <input type="text" class="form-control" id="PhoneNumber" 
                    ng-model="header.saveObj.PhoneNumber">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  