<nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->
  <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- Navbar Left-->
  <div class="navbar-custom-menu pull-left">
    <h5 class="header-left">{{header.TenantName}}</h4>      
  </div>
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">          
      <!-- Notifications: style can be found in dropdown.less -->
      <li class="dropdown notifications-menu">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell-o"></i>
          <span class="label label-warning">10</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have 10 notifications</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu" id="header-thong-bao">
              <li>
                <a href="">
                  <i class="fa fa-users text-aqua"></i> 5 new members joined today
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                  page and may cause design problems
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-users text-red"></i> 5 new members joined
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-user text-red"></i> You changed your username
                </a>
              </li>
            </ul>
          </li>
          <li class="footer"><a href="">View all</a></li>
        </ul>
      </li>
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <span class="hidden-xs">Chào <strong ng-bind="header.LoginName"></strong> !</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="" ng-click="header.changeThongTinTaiKhoan();"><i class="fa fa-user" aria-hidden="true"></i> Thông tin cá nhân</a></li>
            <li><a href="" ng-click="header.changePassword();"><i class="fa fa-key" aria-hidden="true"></i> Thay đổi mật khẩu</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="" ng-click="header.test();"><i class="fa fa-database" aria-hidden="true"></i> Thay đổi hệ thống</a></li> -->
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="header.logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng Xuất</a></li>
        </ul>
      </li>          
    </ul>
  </div>
</nav>