<div style="height:300px;">
  <div style="height: 35px; padding-right: 5px;">
    <button class="btn btn-xs btn-primary pull-right" style="margin-top: 5px;" title="Tạo mới" 
      ng-click="grid.appScope.gridExpand.create(row.entity.Id, 2);">
      <span class="fa fa-plus"></span>
    </button>
  </div>
  <div>
    <ci-grid url="api/roledocumentfunction/getdata" 
      ci-grid-command="row.entity.expandObject.action" 
      col-defs="row.entity.expandOptions.colDefs" 
      ci-height="265",
      ci-filter-default="row.entity.expandObject.filterDefault" 
      ci-set-scope="grid.appScope.gridExpand.setItemScope"
      ci-query-id="{{row.entity.Id}}"
      ng-if="row.isExpanded">
    </ci-grid-expand>
  </div>
</div>
