<section class="content-header">
  <h4>&nbsp;</h4>
  <ol class="breadcrumb">
    <li>
      <a href="javascript:void(0);">
        <i class="fa fa-area-chart" aria-hidden="true"></i> Các báo cáo</a>
    </li>
    <li>
      <a href="javascript:void(0);">Báo cáo lãnh đạo</a>
    </li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-md-2 col-xs-6 pull-right">
              <div class="box-tools">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search ...">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h6 class="box-title">Biểu đồ</h6>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li ng-class="{ active: isSet(1) }">
                    <a href ng-click="setTab(1)">Theo trình độ đào tạo</a>
                  </li>
                  <li ng-class="{ active: isSet(2) }">
                    <a href ng-click="setTab(2)">Theo độ tuổi</a>
                  </li>
                  <!-- <li ng-class="{ active: isSet(3) }">
                    <a href ng-click="setTab(3)">Messages</a>
                  </li> -->
                </ul>
                <div class="tab-content">
                  <div ng-show="isSet(1)">
                    <ci-combo ci-id="comboChart" data="chartData_DaoTao" title="chartTitle" v-axis-title="vAxisTitle" h-axis-title="hAxisTitle"
                      width="chartWidth_DaoTao" height="chartHeight_DaoTao">
                    </ci-combo>
                  </div>
                  <div ng-show="isSet(2)">
                    <ci-pie ci-id="pienavan" data="chartData_DoTuoi" title="" width="chartWidth_DoTuoi" height="chartHeight_DoTuoi">
                    </ci-pie>
                  </div>
                  <!-- <div ng-show="isSet(3)">
                  </div> -->
                </div>
                <!-- /.tab-content -->
              </div>

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h6 class="box-title">Dữ liệu chi tiết</h6>
          <div class="box-tools pull-right">
            <a class="btn btn-box-tool text-primary">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </a>
            <a class="btn btn-box-tool text-primary">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <ci-table columns="cols" table-data="data2" thead-template="headTable">
                <!-- <grid-print section="2" columns="cols" table-data="data2"></grid-print> -->
              </ci-table>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
