<div class="ui-grid-filter-container ng-scope" ng-style="col.extraStyle" ng-repeat="colFilter in col.filters" ng-class="{'ui-grid-filter-cancel-button-hidden' : colFilter.disableCancelFilterButton === true }">
  <div ng-if="colFilter.type !== 'select'" class="ng-scope">
    <input type="text" class="ui-grid-filter-input ui-grid-filter-input-0" 
    ng-keypress="grid.appScope.gridExpand.uiGrid.mapEnter($event, {field: col.field, filterContent: colFilter.term});"
    ng-model="colFilter.term" 
    ng-attr-placeholder="{{colFilter.placeholder || ''}}"
      aria-label="Filter for column" placeholder="">
    <div role="button" class="ui-grid-filter-button ng-scope ng-hide" ng-click="removeFilter(colFilter, $index)" ng-if="!colFilter.disableCancelFilterButton"
      ng-disabled="colFilter.term === undefined || colFilter.term === null || colFilter.term === ''" ng-show="colFilter.term !== undefined &amp;&amp; colFilter.term !== null &amp;&amp; colFilter.term !== ''"
      disabled="disabled">
      <i class="ui-grid-icon-cancel" ui-grid-one-bind-aria-label="aria.removeFilter" aria-label="Remove Filter">&nbsp;</i>
    </div>
  </div>
</div>
