<div class="btn-group">
  <button type="button" class="btn btn-info btn-xs" 
    ng-if="row.entity.RuntimeType == 1 
      && row.entity.RuntimeStatus == 0
      && grid.appScope.$parent.dichvuchayngam.role.update"
    ng-click="grid.appScope.$parent.dichvuchayngam.run(row.entity)" title="Chạy">
      <i class="fa fa-play" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-danger btn-xs"
    ng-if="row.entity.RuntimeType == 1 && row.entity.RuntimeStatus == 1 && grid.appScope.$parent.dichvuchayngam.role.update" 
    ng-click="grid.appScope.$parent.dichvuchayngam.stop(row.entity)" title="Dừng">
      <i class="fa fa-stop" aria-hidden="true"></i>
  </button>
  <button type="button" class="btn btn-primary btn-xs"
    ng-if="!grid.appScope.$parent.dichvuchayngam.role.update" 
    ng-click="grid.appScope.grid.update(row)" 
    title="Xem">
    <i class="fa fa-eye"></i>
  </button>
  <button type="button" class="btn btn-primary btn-xs"
    ng-if="grid.appScope.$parent.dichvuchayngam.role.update" 
    ng-click="grid.appScope.grid.update(row)" 
    title="Cập nhật">
    <i class="fa fa-edit"></i>
  </button>
  <button type="button" class="btn btn-danger btn-xs" 
    ng-if="grid.appScope.$parent.dichvuchayngam.role.delete"
    ng-click="grid.appScope.grid.delete(row)" title="Xóa">
    <i class="fa fa-close"></i>
  </button>
</div>
