<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Thông tin dịch vụ</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="Name">Tên dịch vụ</label>
            <input type="text" class="form-control" id="Name" placeholder="" ng-model="dichvuchayngam.saveObj.Name">
          </div>
          <div class="form-group">
            <label for="Description">Mô tả dịch vụ</label>
            <textarea class="form-control" id="Description" ng-model="dichvuchayngam.saveObj.Description"></textarea>
          </div>
          <div class="form-group">
            <label for="RuntimeType">Chức năng</label>
            <ci-select ci-Id="RuntimeFunction"
              ng-model="dichvuchayngam.saveObj.RuntimeFunction"
              ci-filter-default="dichvuchayngam.saveObj.Id" 
              url="api/runtimeservice/GetFunctionSelectData" ></ci-select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Thông tin cấu hình</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="RuntimeType">Loại hình dịch vụ</label>
            <div class="row">
                <div class="col-md-6">
                  <div class="icheck-primary">
                    <input type="radio" id="Enqueue" name="RuntimeType" ng-model="dichvuchayngam.saveObj.RuntimeType" ng-value="0" ng-change="dichvuchayngam.changeRuntimeType()"/>
                    <label for="Enqueue">Chạy một lần</label>
                  </div>
                 
                </div>
                <div class="col-md-6">
                  <div class="icheck-primary">
                    <input type="radio" id="Schedule" name="RuntimeType" ng-model="dichvuchayngam.saveObj.RuntimeType" ng-value="1" ng-change="dichvuchayngam.changeRuntimeType()" />
                    <label for="Schedule">Chạy theo lịch</label>
                </div>
                </div>
            </div>
          </div>
          <div ng-if="dichvuchayngam.saveObj.RuntimeType === 1">
            <div class="form-group">
              <label for="Cron">Thời gian thực hiện</label>
              <input type="text" class="form-control" id="Cron" placeholder="" ng-model="dichvuchayngam.saveObj.Cron">
              <p class="text-muted">
                <ul>
                  <li>Thời gian chạy của dịch vụ phải theo định dạng <b>"* * * * * ? *"</b>.</li>
                  <li>Vui lòng tham khảo 
                    <a href="https://www.freeformatter.com/cron-expression-generator-quartz.html" target="_blank">tại đây</a> để xem ví dụ và tạo thời gian thời hiện đúng với định dạng của hệ thống</li>
                </ul> 
              </p>
            </div>
            <div class="form-group">
              <label for="CronDescription">Mô tả thời gian thực hiện</label>
              <textarea class="form-control" id="CronDescription" ng-model="dichvuchayngam.saveObj.CronDescription"></textarea>
            </div>
            <div class="form-group">
              <label for="JobId">Id dịch vụ</label>
              <input type="text" class="form-control" id="JobId" placeholder="" ng-model="dichvuchayngam.saveObj.JobId" readonly="readonly">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
