<section class="content-header">
  <h4>&nbsp;</h4>
  <ol class="breadcrumb">
    <li>
      <a href="">
        <i class="fa fa-cogs" aria-hidden="true"></i> Quản trị</a>
    </li>
    <li>
      <a href=""> Các tài khoản</a>
    </li>
  </ol>
</section>
<!--content here-->
<section class="content">

  <div class="row">
    <!--header of content, Note: must be have height style-->
    <div class="col-md-12 fix-of-content">
      <div class="box box-primary">
        <div class="box-body header">
          <div class="row">
            <div class="col-md-2 col-xs-6 pull-right">
              <div class="navbar-form navbar-right search-filter">                
                <button class="btn btn-xs btn-primary" title="Tạo mới" 
                    ng-if="taikhoan.role.create" ng-click="taikhoan.create(0,1)">
                    <span class="fa fa-plus"></span>
                  </button>
                <button class="btn btn-xs" ng-class="{'btn-success': !taikhoan.isFilter, 'btn-danger': taikhoan.isFilter}" ng-click="taikhoan.filter()" title="Lọc dữ liệu">
                  <span class="fa" ng-class="{'fa-filter': !taikhoan.isFilter, 'fa-times': taikhoan.isFilter}"></span>
                </button>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <!--body of content -->
    <div class="col-md-12 auto-of-content">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <ci-grid-expand ci-id="role-grid" 
                url="api/taikhoan/getdata" 
                col-defs="taikhoan.colDefs"
                ci-grid-command="taikhoan.action" 
                ci-filter="taikhoan.isFilter"
                ci-set-scope="taikhoan.setScopeGrid" 
                ci-expand-object="taikhoan.quyenungdungExpand" 
                ci-filter-default="taikhoan.filterDefault"></ci-grid-expand>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
