<!doctype html>
<html ng-app="app" ng-strict-di>
  <head>
    <meta charset="utf-8">
    
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" href="../app/resources/imgs/bct_icon.png" />  

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body class="skin-blue sidebar-mini wysihtml5-supported fixed">
    <% if (htmlWebpackPlugin.options.contentTo) { %>
      <input type="hidden" id="connect-to-server" value="<%= htmlWebpackPlugin.options.contentTo %>">
    <% } %>
    <% if (htmlWebpackPlugin.options.audience) { %>
      <input type="hidden" id="audience" value="<%= htmlWebpackPlugin.options.audience %>">
      <!-- <input type="hidden" id="audience" value="946b77089651485e9790904729d9452e"> -->
      <!-- <input type="hidden" id="audience" value="c78eae44ec354db98e68a1052d7b91f1"> -->
      
    <% } %>
    <% if (htmlWebpackPlugin.options.secret) { %>
      <input type="hidden" id="secret" value="<%= htmlWebpackPlugin.options.secret %>">
      <!-- <input type="hidden" id="secret" value="mJLwdMnS0F_MmPRePPnR55TmFBhbXzVxAxYd7NCIBBg"> -->
      <!-- <input type="hidden" id="secret" value="t2iKCoOEUrmhEhz1MNWosgWZVQJGc4wi77Pu2qE3Ncc"> -->
      
    <% } %>
    <div id="app-wrapper" ui-view></div>      
  </body>
</html>