<section class="content-header">
  <h4>&nbsp;</h4>
  <ol class="breadcrumb">
    <li>
      <a href="javascript:void(0);">
        <i class="fa fa-cogs" aria-hidden="true"></i> Quản lý</a>
    </li>
    <li>
      <a href="javascript:void(0);"> Biểu mẫu</a>
    </li>
  </ol>
</section>
<!--content here-->
<section class="content">

  <div class="row">
    <!--header of content, Note: must be have height style-->
    <div class="col-md-12 fix-of-content">
      <div class="box box-primary">
        <div class="box-body header">
          <div class="row">
            <div class="col-md-2 col-xs-6 pull-right">
              <div class="navbar-form navbar-right search-filter">                
                <button class="btn btn-xs btn-primary" title="Tạo mới"
                    ng-if="bieumau.role.create"  
                    ng-click="bieumau.create()">
                    <span class="fa fa-plus"></span>
                  </button>
                <button class="btn btn-xs" ng-class="{'btn-success': !bieumau.isFilter, 'btn-danger': bieumau.isFilter}" ng-click="bieumau.filter()" title="Lọc dữ liệu">
                  <span class="fa" ng-class="{'fa-filter': !bieumau.isFilter, 'fa-times': bieumau.isFilter}"></span>
                </button>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <!--body of content -->
    <div class="col-md-12 auto-of-content">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <ci-grid ci-id="client-grid" url="api/bieumauchuan/getdata" 
              col-defs="bieumau.colDefs" ci-filter="bieumau.isFilter" 
              ci-grid-command="bieumau.action" ci-set-scope="bieumau.setScopeGrid" ></ci-grid>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
