<section class="content-header">
  <h4>&nbsp;</h4>
  <ol class="breadcrumb">
    <li>
      <a href="javascript:void(0);">
        <i class="fa fa-table"></i> Quản lý</a>
    </li>
    <li class="active">Biểu mẫu</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-md-2 col-xs-6 pull-right">
              <div class="box-tools">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search ...">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
                <select class="form-control" ci-select-local="" data-ng-model="bieumau.CountrySelected" ng-options="item.text for item in bieumau.CountryList track by item.value">
                </select>
            </div>  
            <div class="col-md-12">
               <ci-select ci-Id="sss" ci-one-load="false" ng-model="bieumau.selectData" ci-filter-default="1,2,3,4,5,6,7" ci-filter-default-obj="bieumau.defaultFilter" url="api/loaihinhdaotao/getselectdata" ci-is-multiple="true"></ci-select>
            </div> 
            <div class="col-md-12">
              <ci-upload ci-Id="uuu" multiple>Select File</ci-upload>
           </div>      
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->    
  </div>
</section>
