<div class="btn-group">
    <button type="button" class="btn btn-primary btn-xs" ng-click="grid.appScope.$parent.bieumau.config(row)" title="Cấu hình để nhập khẩu báo cáo">
        <i class="fa fa-cog"></i>
      </button>
  <button type="button" class="btn btn-primary btn-xs" ng-click="grid.appScope.grid.update(row)" title="Cập nhật">
    <i class="fa fa-edit"></i>
  </button>
  <button type="button" class="btn btn-danger btn-xs" ng-click="grid.appScope.grid.delete(row)" title="Xóa">
    <i class="fa fa-close"></i>
  </button>
</div>
