<div class="btn-group">
  <button type="button" class="btn btn-primary btn-xs" 
    ng-if="row.entity.Index !== 1 && grid.appScope.$parent.bieumau.role.update" 
    ng-click="grid.appScope.$parent.bieumau.configs.upColumn(row)" 
    title="Cấu hình để nhập khẩu báo cáo">
    <i class="fa fa-arrow-up"></i>
  </button>
  <button type="button" class="btn btn-primary btn-xs"  
    ng-if="!row.entity.IsLast && grid.appScope.$parent.bieumau.role.update" 
    ng-click="grid.appScope.$parent.bieumau.configs.downColumn(row)" 
    title="Cập nhật">
    <i class="fa fa-arrow-down"></i>
  </button>
  <button type="button" class="btn btn-danger btn-xs"
    ng-if="grid.appScope.$parent.bieumau.role.delete" 
    ng-click="grid.appScope.$parent.bieumau.configs.deleteColumn(row)" title="Xóa">
    <i class="fa fa-close"></i>
  </button>
</div>
