<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Thông tin cơ bản</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="Ma">Mã</label>
            <input type="text" class="form-control" id="Ma" placeholder="" ng-model="bieumau.saveObj.Ma">
          </div>
          <div class="form-group">
            <label for="Ten">Tên</label>
            <input type="text" class="form-control" id="Ten" ng-model="bieumau.saveObj.Ten">
          </div>
          <div class="form-group">
            <label for="LoaiBieuMau">Loại biểu mẫu</label>
            <div class="icheck-primary">
              <input type="radio" id="LoaiBieuMau-1" name="LoaiBieuMau" value="1" ng-model="bieumau.saveObj.LoaiBieuMau" />
              <label for="LoaiBieuMau-1">Nhập khẩu</label>
            </div>
            <div class="icheck-primary">
              <input type="radio" id="LoaiBieuMau-2" name="LoaiBieuMau" value="2" ng-model="bieumau.saveObj.LoaiBieuMau" />
              <label for="LoaiBieuMau-2">Xuất khẩu</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Tập Tin Biểu Mẫu</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="FileBieuMau">&nbsp;</label>
            <ci-upload ci-id="FileBieuMau" ci-store-file-name="bieumau.saveObj.FileBieuMau", ci-file-name="bieumau.saveObj.TenFileBieuMau">Chọn tập tin</ci-upload>
          </div>          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Mô Tả</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div role="form">
        <div class="box-body">
          <div class="form-group">
            <textarea class="form-control" id="MoTa" rows="3" ng-model="bieumau.saveObj.MoTa"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
