<div class="wrapper">

  <header class="main-header">  
    <!-- Logo -->
    <ci-giaodienchinh-logo/>  
    <!-- Header Navbar: style can be found in header.less -->
    <ci-giaodienchinh-header/>
  </header>
  <!-- Left menu side column. contains the logo and sidebar -->
  <ci-giaodienchinh-menu/>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">        
  <section class="content">
      <ui-view/>
  </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <ci-giaodienchinh-footer/>
</div>