.main-footer {
    position: fixed;
    bottom: 0;
    z-index: 800;
    padding: 7px;
    font-size: 11px;

}
.content {
    padding-bottom: 54px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #367fa9;
}
.skin-blue .sidebar-menu > li.header {
    background: #367fa9;
    color: #ffffff;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #367fa9;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    background: #367fa9;
}

@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #777;
    }
}
.skin-blue .main-header .logo {
  background-color: #3c8dbc;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
    white-space: normal;
}
.skin-blue .sidebar-menu .treeview-menu>li:hover>a,
.skin-blue .sidebar-menu .treeview-menu>li.active>a {
    color: #fff;  
}
#loading-bar {
    
}
#loading-bar .bar {
    left: 0;
    bottom: 0;
    top: auto;
    background-color: #367fa9;
}
#loading-bar-spinner {
    bottom: 35px;
    right: 10px;
    top: auto;
    left: auto;
}