.main-footer {
    position: fixed;
    bottom: 0;
    z-index: 800;
    padding: 7px;
    font-size: 11px;

}
.toast-bottom-right {
    bottom: 35px;    
}
.content-header {
    padding: 0px 15px;
}
.content-header > .breadcrumb {
    top: 0;
    padding: 0 15px;
    float: left;
    right: auto;
    left: 0;
}

.content {
    padding-bottom: 30px;
    padding-top: 0;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #367fa9;
}
.skin-blue .sidebar-menu > li.header {
    background: #367fa9;
    color: #ffffff;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #367fa9;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    background: #367fa9;
}
.skin-blue .sidebar a {
    color: #ddd;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #ddd;
}

@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color: #ddd;
    }
}

.skin-blue .main-header .logo {
  background-color: #3c8dbc;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
    white-space: normal;
}
.skin-blue .sidebar-menu .treeview-menu>li:hover>a {
    color: #fff;
}
.skin-blue .sidebar-menu > li > a.active,
.skin-blue .sidebar-menu .treeview-menu > li.active>a {
    color: #fff;  
    border-left: 3px solid #f39c12;
    margin-left: -5px;
    padding-left: 17px;
}

.skin-blue .sidebar-menu .treeview-menu .treeview-menu > li.active>a {
    color: #fff;  
    border-left: 3px solid #f39c12;
    margin-left: -20px;
    padding-left: 32px;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0;
}
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu li.treeview > a.active  {
    border-left: 3px solid #f39c12;
    margin-left: 0;
    padding-left: 10px;
}
.sidebar-menu > li > a {
    padding-left: 10px;
}

#loading-bar .bar {
    left: 0;
    bottom: 0;
    top: auto;
    background-color: #367fa9;
}
#loading-bar-spinner {
    bottom: 35px;
    right: 10px;
    top: auto;
    left: auto;
}
.menu-open {
    display: block;
}
.header-left {
    padding: 7px;
    color: #fff;
    font-weight: 600;
}