.grid-command {
    line-height: 25px;
    padding-left: 5px;
}
.grid-text-align-center{
    line-height: 25px;
    text-align: center;
}

/* selected */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}
.select2-container--default .select2-selection--single {
    border-radius: 0;;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
}
.list-group.list-group-files {
    margin-bottom: 0;
}
.list-group.list-group-files>.list-group-item {
    padding: 5px; border: none;
}
.list-group.list-group-files>.list-group-item>.file-info {
    padding-right: 5px;
}
.list-group.list-group-files>.list-group-item>.file-uploading {
    padding-right: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #a94442;
    margin-right: 4px;
}
.select2-dropdown {
    z-index: 9999;
}

.ui-grid-cell input {
 height: 30px;
 line-height: 30px;
 padding-left: 5px;
}

.ui-grid-cell select {
    height: 29px;
    line-height: 29px;
    padding-left: 5px;
   }