<section class="content-header">
  <h4>&nbsp;</h4>
  <ol class="breadcrumb">
    <li>
      <a href="">
        <i class="fa fa-cogs" aria-hidden="true"></i> Quản trị</a>
    </li>
    <li>
      <a href="">Học sinh sinh viên</a>
    </li>
  </ol>
</section>
<!--content here-->
<section class="content">

  <div class="row">
    <!--header of content, Note: must be have height style-->
    <div class="col-md-12 fix-of-content">
      <div class="box box-primary">
        <div class="box-body header">
          <div class="row">
            <div class="col-md-2 col-xs-6 pull-right">
              <div class="navbar-form navbar-right search-filter">                
                <button class="btn btn-xs btn-primary" title="Tạo mới"
                  ng-if="hocsinhsinhvien.role.create" 
                  ng-click="hocsinhsinhvien.create()">
                    <span class="fa fa-plus"></span>
                  </button>
                <button class="btn btn-xs" ng-click="hocsinhsinhvien.filter()" title="Lọc dữ liệu"
                  ng-class="{'btn-success': !hocsinhsinhvien.isFilter, 'btn-danger': hocsinhsinhvien.isFilter}"
                  >
                  <span class="fa" ng-class="{'fa-filter': !hocsinhsinhvien.isFilter, 'fa-times': hocsinhsinhvien.isFilter}"></span>
                </button>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <!--body of content -->
    <div class="col-md-12 auto-of-content">
      <div class="box box-primary">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <ci-grid ci-id="client-grid" 
                url="api/hocsinhsinhvien/getdata" 
                col-defs="hocsinhsinhvien.colDefs" 
                ci-filter="hocsinhsinhvien.isFilter" 
                ci-grid-command="hocsinhsinhvien.action" 
                ci-set-scope="hocsinhsinhvien.setScopeGrid" ></ci-grid>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- ./box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
